@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #ff7700;
	--dark-color-b: #000000;
	--light-color: #f1dace;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background: var(--light-color);
	margin: 20px;
}

input[type="file"] {
	width: 100%;
  }

footer{
	text-align: center;
	color: darkgray;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 15px;
}

/* Join Page */
.join-container {
	max-width: 400px;
	margin: 5px auto;
	color: rgb(255, 255, 255);
	opacity: 0.6;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] , input[type='email'] {
	font-size: 13px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 10px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	input[type="file"] {
		width: 310px;
	  }
	
	.uploads-control{
		margin-top: 10px;
	}
	
}

@media (max-width: 400px) {
	input[type="file"] {
		width: 250px;
	  }
}